/* Add application styles & imports to this file! */

.top-bar-main {
  display: -webkit-flex;
  justify-content: space-between;
  flex-direction: row;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  opacity: 1;
}

.top-bar-nav {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
}

.top-bar-nav a {
  text-decoration: none;
  color: inherit;
}

.top-bar-nav a:hover {
  opacity: 0.4;
}