.top-bar-main {
  display: -webkit-flex;
  justify-content: space-between;
  flex-direction: row;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
}

.top-bar-nav {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
}
